<!-- <p>data works!</p>
{{oszlopok|json}}

{{todo|json}} -->

<!-- Fejléc -->
<div class="row fw-bold my-4">
    <div *ngFor="let oszlop of oszlopok" class="col">
        {{oszlop.text}}
    </div>
    <div class="col">
        Műveletek
    </div>
</div>
<!-- Fejléc vége -->


<div *ngFor="let todo of todos" class="row my-2">
    
        <div *ngFor="let oszlop of oszlopok" class="col">
            <ng-container [ngSwitch]="oszlop.type">
                <span *ngSwitchCase="'plain'">
                    {{todo[oszlop.key]}}
                </span>
                <div *ngSwitchCase="'boolean'" class="form-check form-switch">
                    <input [(ngModel)]="todo[oszlop.key]" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                </div>

                <input *ngSwitchDefault="" [(ngModel)]="todo[oszlop.key]" type="oszlop.type" class="form-control">
            </ng-container>
        </div>
        <div class="col">
            Műveletek
        </div>
</div>